@import "../../app/globals.scss";

.introduction {
  margin-top: 150px;
  position: relative;
  min-height: 100vh;
  padding: 100px 200px;
  // background-color: rgba(255, 255, 255, 0.9);
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @include sp {
    padding: 50px 40px;
    margin-top: 100px;
  }
}

.topBlur,
.bottomBlur {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
}

// .topBlur {
//   bottom: -50px;

//   background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// }

// .bottomBlur {
//   top: -50px;
//   background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// }

.title {
  writing-mode: vertical-rl;
  // text-orientation:sideways;
  transform: translateY(20%);
  position: absolute;
  left: 80%;

  font-size: 3.25rem; /* 36px */
  margin-bottom: 1rem; /* 16px */
  @include sp {
    transform: translateY(20%);

    font-size: 2rem; /* 36px */
  }
}
.subTitle {
  font-size: 1.5rem; /* 24px */
  margin-bottom: 3rem; /* 16px */
  display: block;
}

.description {
  font-size: 1.125rem; /* 18px */
  @include sp {
    font-size: 1rem; /* 16px */
    margin-right: 30%;
  }
}



.separator {
  border-top: 2px solid black; /* 線のスタイル */
  margin: 4rem 0; /* 上下のマージン */
}